body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url("/img/white-crinkled-paper-texture-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(0.9);
    filter: saturate(150%);
}

h1 {
    font-family: 'Garet Heavy';
    src: url('/fonts/Garet-Heavy.woff2');
    background-color: black;
    color: aliceblue;
}